---
http_interactions:
- request:
    method: get
    uri: https://us-street.api.smartystreets.com/street-address?auth-id=<auth-id>&auth-token=<auth-token>&street=1%20Fake%20Loop,%20Cupertino,%20CA%2095014
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Sat, 01 Dec 2018 01:47:40 GMT
[...]
- request:
    method: get
    uri: https://us-street.api.smartystreets.com/street-address?auth-id=<auth-id>&auth-token=<auth-token>&street=122%20Mast%20Rd,%20Lee,%20NH%2003861
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"input_index":0,"candidate_index":0,"delivery_line_1":"122 Mast Rd","last_line":"Lee
        NH 03861-6571","delivery_point_barcode":"038616571995","components":{"primary_number":"122","street_name":"Mast","street_suffix":"Rd","city_name":"Lee","default_city_name":"Lee","state_abbreviation":"NH","zipcode":"03861","plus4_code":"6571","delivery_point":"99","delivery_point_check_digit":"5"},"metadata":{"record_type":"H","zip_type":"Standard","county_fips":"33017","county_name":"Strafford","carrier_route":"R006","congressional_district":"01","building_default_indicator":"Y","rdi":"Commercial","elot_sequence":"0250","elot_sort":"A","latitude":43.13356,"longitude":-70.99477,"precision":"Zip9","time_zone":"Eastern","utc_offset":-5,"dst":true},"analysis":{"dpv_match_code":"D","dpv_footnotes":"AAN1","dpv_cmra":"N","dpv_vacant":"N","active":"N","footnotes":"H#"}}]'
  recorded_at: Sat, 01 Dec 2018 01:47:41 GMT
- request:
    method: get
    uri: https://us-street.api.smartystreets.com/street-address?auth-id=<auth-id>&auth-token=<auth-token>&street=1%20Infinite%20Loop,%20Cupertino,%20CA%2095014
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"input_index":0,"candidate_index":0,"delivery_line_1":"1 Infinite
        Loop","last_line":"Cupertino CA 95014-2083","delivery_point_barcode":"950142083017","components":{"primary_number":"1","street_name":"Infinite","street_suffix":"Loop","city_name":"Cupertino","default_city_name":"Cupertino","state_abbreviation":"CA","zipcode":"95014","plus4_code":"2083","delivery_point":"01","delivery_point_check_digit":"7"},"metadata":{"record_type":"S","zip_type":"Standard","county_fips":"06085","county_name":"Santa
        Clara","carrier_route":"C067","congressional_district":"18","rdi":"Commercial","elot_sequence":"0034","elot_sort":"A","latitude":37.33053,"longitude":-122.02887,"precision":"Zip9","time_zone":"Pacific","utc_offset":-8,"dst":true},"analysis":{"dpv_match_code":"Y","dpv_footnotes":"AABB","dpv_cmra":"N","dpv_vacant":"N","active":"Y"}}]'
  recorded_at: Sat, 01 Dec 2018 01:47:42 GMT
- request:
    method: get
    uri: https://international-street.api.smartystreets.com/verify?auth-id=<auth-id>&auth-token=<auth-token>&country=GBR&freeform=99%20Fictitious%20St,%20Westminster,%20London%20SW1A%202AA&geocode=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"address1":"99 Downing Street","address2":"Westminster","address3":"London","address4":"SW1A
        2AA","components":{"administrative_area":"London","country_iso_3":"GBR","locality":"London","dependent_locality":"Westminster","postal_code":"SW1A
        2AA","postal_code_short":"SW1A 2AA","premise":"99","premise_number":"99","thoroughfare":"Downing
        Street","thoroughfare_name":"Fictitious","thoroughfare_trailing_type":"Street"},"metadata":{"latitude":51.50317,"longitude":-0.12708,"geocode_precision":"Thoroughfare","max_geocode_precision":"DeliveryPoint","address_format":"premise
        thoroughfare|dependent_locality|locality|postal_code"},"analysis":{"verification_status":"Partial","address_precision":"Thoroughfare","max_address_precision":"DeliveryPoint"}}]'
  recorded_at: Sat, 01 Dec 2018 01:47:43 GMT
- request:
    method: get
    uri: https://international-street.api.smartystreets.com/verify?auth-id=<auth-id>&auth-token=<auth-token>&country=France&freeform=13%20Rue%20Yves%20Toudic,%20Paris%2075010&geocode=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"address1":"13 Rue Yves Toudic","address2":"10E Arrondissement","address3":"75010
        Paris","components":{"super_administrative_area":"Ile-De-France","administrative_area":"Paris","country_iso_3":"FRA","locality":"Paris","dependent_locality":"10E
        Arrondissement","postal_code":"75010","postal_code_short":"75010","premise":"13","premise_number":"13","thoroughfare":"Rue
        Yves Toudic","thoroughfare_name":"Yves Toudic","thoroughfare_type":"Rue"},"metadata":{"latitude":48.870131,"longitude":2.363473,"geocode_precision":"Premise","max_geocode_precision":"DeliveryPoint","address_format":"premise
        thoroughfare|dependent_locality|postal_code locality"},"analysis":{"verification_status":"Verified","address_precision":"Premise","max_address_precision":"DeliveryPoint"}}]'
  recorded_at: Sat, 01 Dec 2018 01:47:43 GMT
- request:
    method: get
    uri: https://international-street.api.smartystreets.com/verify?auth-id=<auth-id>&auth-token=<auth-token>&country=France&freeform=13%20Rue%20Yves%20Toudic,%20Paris,%2075010&geocode=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"address1":"13 Rue Yves Toudic","address2":"10E Arrondissement","address3":"75010
        Paris","components":{"super_administrative_area":"Ile-De-France","administrative_area":"Paris","country_iso_3":"FRA","locality":"Paris","dependent_locality":"10E
        Arrondissement","postal_code":"75010","postal_code_short":"75010","premise":"13","premise_number":"13","thoroughfare":"Rue
        Yves Toudic","thoroughfare_name":"Yves Toudic","thoroughfare_type":"Rue"},"metadata":{"latitude":48.870131,"longitude":2.363473,"geocode_precision":"Premise","max_geocode_precision":"DeliveryPoint","address_format":"premise
        thoroughfare|dependent_locality|postal_code locality"},"analysis":{"verification_status":"Verified","address_precision":"Premise","max_address_precision":"DeliveryPoint"}}]'
  recorded_at: Sat, 01 Dec 2018 01:47:44 GMT
- request:
    method: get
    uri: https://us-street.api.smartystreets.com/street-address?auth-id=<auth-id>&auth-token=<auth-token>&street=1%20Infinite%20Loop,%20Cupertino,%20CA,%2095014
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"input_index":0,"candidate_index":0,"delivery_line_1":"1 Infinite
        Loop","last_line":"Cupertino CA 95014-2083","delivery_point_barcode":"950142083017","components":{"primary_number":"1","street_name":"Infinite","street_suffix":"Loop","city_name":"Cupertino","default_city_name":"Cupertino","state_abbreviation":"CA","zipcode":"95014","plus4_code":"2083","delivery_point":"01","delivery_point_check_digit":"7"},"metadata":{"record_type":"S","zip_type":"Standard","county_fips":"06085","county_name":"Santa
        Clara","carrier_route":"C067","congressional_district":"18","rdi":"Commercial","elot_sequence":"0034","elot_sort":"A","latitude":37.33053,"longitude":-122.02887,"precision":"Zip9","time_zone":"Pacific","utc_offset":-8,"dst":true},"analysis":{"dpv_match_code":"Y","dpv_footnotes":"AABB","dpv_cmra":"N","dpv_vacant":"N","active":"Y"}}]'
  recorded_at: Sat, 01 Dec 2018 01:47:44 GMT
- request:
    method: get
    uri: https://us-street.api.smartystreets.com/street-address?auth-id=<auth-id>&auth-token=<auth-token>&street=1600%20Fake%20Ave,%20Washington,%20DC,%2020500
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Sat, 01 Dec 2018 01:47:44 GMT
[...]
- request:
    method: get
    uri: https://us-street.api.smartystreets.com/street-address?auth-id=<auth-id>&auth-token=<auth-token>&street=1600%20Fake%20Ave,%20Washington,%20DC,%2020500
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Sat, 01 Dec 2018 01:47:44 GMT
recorded_with: VCR 4.0.0
